<html lang="en">
<%- include("./partials/head.ejs") %>


<body>
  
  <%- include("./partials/nav.ejs") %>
    <h1 style="text-align:center;"><i>Available Products</i></h1><br>
    <div class="product_img">
      <% if(products.length>0){ %>
        <% products.forEach(prod=> { %>
          <a class='single' href='/products/<%= prod._id %>'>
                <div class="productcard">
                    <img src=<%= prod.url %>>
                    <br><br>
                    <h5><b><%= prod.product %></b></h5>
                    <p><%= prod.brand %></p>
                    <p><%= prod.capacity %></p>
                    <p>Price: <%= prod.price %></p>
                </div>
          </a>
          <% }) %>
      <% }else{ %>
          <p>No Products to Display</p>
      <% } %>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>